.header_link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin: 20px 5px;
}

.country_card_container {
  border: 1px solid #909090;
  border-radius: 5px;
  width: 120px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.country_name {
  font-weight: 600;
}
